body {
    background-color: rgb(122, 201, 122);}
h1{
    color: rgb(54, 96, 54);
    text-align:center;
    font-family: 'Chopin script', Courier, monospace;
}
    
h3{
    color: rgb(54, 96, 54);
    text-align:center;font-family: 'Chopin script', Courier, monospace;

}

h2{
    color: rgb(54, 96, 54);
    text-align:center;
    font-family: 'Chopin script', Courier, monospace;
}
p{
    color: rgb(54, 96, 54);
    font-size: large;
    font-family: 'Chopin script', Courier, monospace;
}
img {
    border-width: medium;
    border: 50px solid rgb(121, 71, 52);
    color:rgb(121, 71, 52);
    box-sizing: border-box;

    margin: 150px;

    width: 60%;
    length:60%;

    
}

 .centered-text {
        text-align: center;
    }